@import url('http://fonts.cdnfonts.com/css/argentum-sans');

:root{
  --bc: #fafafa;
  --fc: dimgray;
 }

.darkmode{
  --bc: #333333;
  --fc: #fffbfb;
 }
  
*{  
  margin: 0;
  padding: 0;
  color:var(--fc);
  font-family: 'Argentum Sans', sans-serif;
  transition: background 0.4s ease-in-out;
}

html{
  font-size: 62,5%;
}

header{
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

body{  
  height: 100%;
  width: 100%; 
  position: absolute;
  background-color: var(--bc);
  font-size: 0.8rem;
}

main{
  margin: 30px auto 0 auto;
  display: flex;
  flex-direction: column;
  width: 95%;
}

footer{
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
}
  footer p{  
    margin-left: 1rem;
    font-size: 0.6rem;
  }  



/*-------------------------------------------------------(INÍCIO)-COMUNS*/
.logo-center{
  width: 7rem;
  margin-bottom: 2rem;
}

#logo-left{
  width: 5rem;
} 

.link-logo-left{/*É um link "<a></a>" que está servindo também de container para a "logo-left"*/
  width: 5rem;
  height: 2rem;
  margin-top: 2rem;
}

.page-title{
  margin: 100px auto auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-loged{
  height: fit-content;
  width: 5rem;
  margin-top: 2rem;
}

.btn-info-loged{
  font-size: 0.7rem;
  border-style: none;
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  background-color: transparent;
}
  .btn-info-loged:hover, .btn-info-loged:focus{
    color: #33cc99;
  }

.user-dropdown-content{
  display: none;
  position: absolute;
  background-color: var(--bc);
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: -1.5rem;
}
  .user-dropdown-content a{
    padding: 0.5rem;
    text-decoration: none;
    display: block;
    font-size: 0.6rem;
  }
  .user-dropdown-content a:hover{
    background-color: #33CC99;
  }

.show-user-opts{
  display: block;
}
/*-------------------------------------------------------(FIM)-COMUNS*/
/*-----------------------------------------------------*/

/*-------------------------------------------------------(INÍCIO)-LOGIN*/
.container-login{
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.login-form{
  background-color: transparent;
}

.mb-2, .mb, .bemvindo, .logo-center{
  background-color: transparent;
}

.login-card{
  background-color: #4d4d4d;
  height: 90%;
  width: 17%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  padding-top: 1rem;
}
  .login-card input{
    font-size: 12px;
    width: 95%;
    padding-top: 1rem;
  }
  .login-card input:focus{
    box-shadow: 0 0 0 0; 
    border-bottom-color: #33CC99;
    color: #FFF;
    outline: 0;    
  }
  .login-card a{
    color: #FFF;
    font-size: 10px;
    text-decoration: none;
    background-color: transparent;
  }

.btn-login{
  width: 100%;
  background-color: #757575;
  color: #FFF;
  font-weight: normal;
  border-radius: 2px;  
}
  .btn-login:hover{
    color: #4d4d4d;
    background-color: #33CC99;
  }
  .btn-login a{ 
    text-decoration: none;
  }

.bemvindo{
  color: #33CC99;
  font-size: 0.8rem;
}

.login-input{
  background-color: #4d4d4d;
  border-color: #4d4d4d;
  border-bottom: #FFF;
  border-style: solid;
  border-width: 1px;
  text-align: center; 
}
  .login-input:focus::-webkit-input-placeholder{
    color: transparent;
  }
/*-------------------------------------------------------(FIM)-LOGIN*/
/*-----------------------------------------------------*/

/*-------------------------------------------------------(INÍCIO)-INDEX*/
.container-menu-index{
  width: 25vw;
  height: 25vh;
  margin: auto;
  display: flex;
  align-items: center;
  }
  .container-menu-index a{  
    background-color:#33CC99;
    border-style: solid;
    border-color: transparent;
    width: 6.25rem;
    height: 6.25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer; 
    text-decoration: none;
    font-size: 1rem;
    margin: auto;
  }  
  .container-menu-index a:hover{
    height: 110px;
    background-color:transparent;
    border-color: #33CC99;
    color: #33CC99;
    font-weight: bolder;
  }
  
/*-------------------------------------------------------(FIM)-INDEX*/
/*-----------------------------------------------------*/

/*-------------------------------------------------------(INÍCIO)-SUPPORT*/
.table-support{    
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  font-size: 0.7rem;
}  
  .table-support td{
    padding: 0.4rem;
    text-align: left;
    background-color: transparent;
  }  
  .table-support th{
    background-color: #1d1d1d;
    padding: 0.4rem;
    text-align: left;
    border-bottom-style: solid;
    border-bottom-color:#33CC99;
  }  
  /* .table-support tr:nth-child(odd){
    background-color: rgb(241, 212, 173);
  }  */

.btn-green{
  background-color: #33cc99;
  width: 5em;
  height: 2em;
  color: #f1f1f1; 
  border-style: none;
  margin-bottom: 1em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-black{
  background-color: #1d1d1d;
  width: 7em;
  height: 3em;
  color: #f1f1f1; 
  border-style: none;
  margin-bottom: 1em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-cancel{
  background-color: #1d1d1d;
  width: 7em;
  height: 3em;
  color: #f1f1f1; 
  border-style: none;
  margin-bottom: 1em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .btn-cancel:hover{
    cursor: pointer;
    background-color:red;
  }

.btn-white{
  background-color: #f1f1f1;
  width: 5em;
  height: 2em;
  color: #f1f1f1; 
  border-style: solid;
  border-width: thin;
  margin-bottom: 1em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-black:hover{
  cursor: pointer;
  background-color:#33cc99;
}

.fm-nw-call{
  width: 40rem;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em; 
  background-color: #e7e5e5;
  padding: 2rem;
  border-radius: 1rem;
}
  .fm-nw-call p{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1em;
  }
  .fm-nw-call textarea{
    resize: none;
    color: #1d1d1d;
  }
  .fm-nw-call input{
    color: #1d1d1d;
  }

.modal-open-call{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(12, 12, 12, 0.9);
  z-index: 2000;
}  
  .modal-open-call.show-modal{
    display: flex;
  }
  

.fm-group{
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
  .g1{
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .g2{
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .g3, .g4{
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .g5{
    grid-column-start: 2;
    grid-column-end: 3;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  
/*-------------------------------------------------------(FIM)-SUPORTE*/
/*-----------------------------------------------------*/


/*-------------------------------------------------------(INÍCIO)-PEDIDOS*/
#table-orders{    
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  font-size: 0.7rem;
}  
  #table-orders td{
    padding: 0.1rem;
    text-align: center;
    background-color: transparent;
  }  
  #table-orders th{
    background-color: #1d1d1d;
    padding: 0.4rem;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color:#33CC99;
  }  
  #table-orders tr:nth-child(odd){
    background-color: green;
  } 
  .order-details{
    width: 3.5rem;
    height: 1.5rem;
  }

/*-----MODAL-----*/
.modal-container{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2000;
}

.modal{
  width: 30vw;
  height: 50vh;
  border-radius: 0.7em;
  font-size: 1em;
  background-color: #FFF;
  position: relative;
}
  .modal p{
    font-weight: bold;
    text-align: center;
    margin: 2em auto;
  }  
  .modal input{
    margin-left: 3em;
  }

.btn-cancel-modal{
  width: 6rem;
  height: 2rem; 
  margin-left: 3em;
  margin-top: 3em;
}
  
.btn-save-modal{
  width: 6rem;
  height: 2rem;
  margin-left: 3em;
 }

.modal-container.show-modal{
  display: flex;
}

.show-modal .modal{
  animation: modal .3s;
}

@keyframes modal{
  from{
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


  

  
/*-------------------------------------------------------(FIM)-PEDIDOS*/
/*-----------------------------------------------------*/


/*-------------------------------------------------------(INÍCIO)-PREFERÊNCIAS*/

.container-preferences{
  width: 70%;
  margin: auto;
  padding: 2rem;
  border-style: solid;
  border-width: thin;
  border-radius: 0.5em;
  border-color:var(--fc);
}   
  .container-preferences h3{
    margin-bottom: 0.5rem;
  } 

/*-------------------------------------------------------(FIM)-PREFERÊNCIAS*/
