
  
  <main>
    <div class="container-preferences">
      <div>
        <h2>Visual</h2> 
        <hr>
        </br>
        </br>
        <h3>Tema Geral</h3>   
        <input id="theme" type="checkbox" value="checkbox" name="tema">Escuro<label for=""></label>
        </br>
        </br>
        <h3>Lista de Pedidos</h3>   
        <input id="theme" type="radio" value="radio" name="color-style" checked>Padrão<label></label>
        <input id="theme" type="radio" value="radio" name="color-style">Neutro<label></label>
        <input id="theme" type="radio" value="radio" name="color-style">Soft Colors<label></label>
        </br>
        </br>
        </br>
        </br>
        <h2>Notificações</h2> 
        <hr>
        </br>
        </br>

        <div>
          <input type="checkbox" id="#" checked>
          <label for="">E-mail</label>
        </div>
        <div>
          <input type="checkbox" id="#" checked>
          <label for="">Celular</label>
        </div>
        <div>
          <input type="checkbox" id="#" checked>
          <label for="">Navegador</label>
        </div>
      </div>
    </div>
  </main>  
<script src="js/pref.js"></script>