
  <main>     
    <div class="container-menu-home">
      <div>
        <a href="orders"><p>PEDIDOS</p><img id="orders" src="/icons/orders.png" alt="order-icon"></a>
      </div>
      <div>
        <a href="tickets"><p>SUPORTE</p><img id="tickets" src="/icons/support.png" alt="support-icon"></a>
      </div>
      <div>
        <a href="docs"><p>MANUAL</p><img id="docs" src="/icons/docs.png" alt="documentation-icon"></a>
      </div>
      <div>
        <a href="info"><p>INFO</p><img id="info" src="/icons/info.png" alt="info-icon"></a>
      </div>      
    </div>
  </main>
