 
    <main>
      <table id="table-orders">
        <tr>
        <th>ID</th>
        <th>CLIENTE FINAL</th>
        <th>REVENDA</th>
        <th>USUÁRIO</th>
        <th>VALOR</th>
        <th>RECEBIDO EM</th>
        <th>SITUAÇÃO</th>
        </tr>
        <tr>
          <td>vazio</td>
          <td>vazio</td>
          <td>vazio</td>
          <td>vazio</td>
          <td>vazio</td>
          <td>vazio</td>
          <td><button class="os-sts-menu" onclick="openModalOrders();"><p></p></button></td>
          <td><button class="order-details" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">+</button></td>
        </tr>
        <tr>
          <td>vazio</td>
          <td>vazio</td>
          <td>vazio</td>
          <td>vazio</td>
          <td>vazio</td>
          <td>vazio</td>
          <td><button class="os-sts-menu" onclick="openModalOrders();"><p></p></button></td>
          <td><button class="order-details" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">+</button></td>
        </tr>

      </table>
    </main>



  <!-- MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL -->
    <div id="os-modal" class="modal-container">
      <div class="modal">
        <p>Situação do Pedido ("ID do pedido")</p>  
        <input type="radio" onclick="getChecked()" id="received" value="Recebido" name="sts-options">
        <label for="#">Recebido</label></br>
        <input type="radio" onclick="getChecked()" id="queue" value="Na Fila" name="sts-options">
        <label for="#">Na Fila</label></br>
        <input type="radio" onclick="getChecked()" id="production" value="Furação" name="sts-options">
        <label for="#">Furação</label></br>
        <input type="radio" onclick="getChecked()" id="finished" value="Finalizado" name="sts-options">
        <label for="#">Finalizado</label></br>
        <button class="btn-cancel-modal">Cancelar</button>
        <button class="btn-save-modal">Salvar</button>  
      </div>
    </div>

  <!-- MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL -->

  </body>