<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Ok Suporte</title>
</head>
<body>
  <header>
    <a href="home" class="link-logo-left"><img id="logo-left" src="/images/logo_oksuporte.png" alt="logo_oksuporte"></a>
    <div class="page-title">
      <h3>{{ pageDetails.title }}</h3>
    </div>  
    <div class="container-logged">
      <button onclick="userDropdownMenu()" class="btn-info-logged">Usuário </br>(empresa)</button>
      <div id="user-dropdown" class="user-dropdown-content">
        <a href="preferences">Configurações</a>
        <a href="/">Sair</a>
      </div>
    </div>        
  </header> 
  {{ #pageDetails.home }}
  {{ >pages/home }}
  {{ /pageDetails.home }}

  {{ #pageDetails.tickets }}
  {{ >pages/tickets }}
  {{ /pageDetails.tickets }}

  {{ #pageDetails.orders }}
  {{ >pages/orders }}
  {{ /pageDetails.orders }}

  {{ #pageDetails.info }}
  {{ >pages/info }}
  {{ /pageDetails.info }}

  {{ #pageDetails.help }}
  {{ >pages/help }}
  {{ /pageDetails.help }}

  {{ #pageDetails.preferences }}
  {{ >pages/preferences }}
  {{ /pageDetails.preferences }}

  {{ #pageDetails.crud_users }}
  {{ >pages/crud_users }}
  {{ /pageDetails.crud_users }}

  <!--footer><p>© OkSuporte. • Desenvolvido por TX Sistemas • Todos os direitos reservados.</p></footer-->
</body>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-firestore.js"></script>


<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries-->
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  
  // Initialize Firebase
  firebase.initializeApp({
    apiKey: "AIzaSyCRfWzn6w3gbatvCr3kg3a-lUNckVnVcHE",
    authDomain: "oksuporte-51ac6.firebaseapp.com",
    projectId: "oksuporte-51ac6",
    storageBucket: "oksuporte-51ac6.appspot.com",
    messagingSenderId: "213689387816",
    appId: "1:213689387816:web:c27634013c5d261a4d5e1d",
    measurementId: "G-QRJMV3EHPM"
  });
  firebase.analytics();
  
</script>
<script src="js/script.js"></script>
</html>