{{>partials/header}}

<body>
  <header>
    <a href="home" class="link-logo-left"><img id="logo-left" src="/images/logo_oksuporte.png" alt="logo_oksuporte"></a>
    <div class="page-title">
      <h3>#XXXXX - Erro tal tal tal tal</h3>
      <p class="company-name">(Nome da empresa)</p>
    </div>  
    <div class="container-loged">
      <button onclick="userDropdownMenu()" class="btn-info-loged">Usuário </br>(empresa)</button>
      <div id="user-dropdown" class="user-dropdown-content">
        <a href="preferences">Configurações</a>
        <a href="login">Sair</a>
      </div>
    </div>       
  </header>   
  <main>

    <div class="container-ticket-interactions">
      AO CLICAR EM DETALHES NA TABELA DE SUPORTE AVALIAR QUAL É A MELHOR OPÇÃO (MODAL, TELA INTEIRA OU COLLAPSE) 
      
    </div>

  </main>
  
  {{>partials/footer}}